:root {
  --branding-color: rgb(215, 133, 197);
  --primary-color: #d5bbea;
  --secondary-color: #f2eaf7d7;
  --heading-font-family: "Roboto Mono", monospace;
  --default-font-family: "Varela Round", sans-serif;
  --box-shadow: 0 5px 10px rgba(224, 122, 195, 0.49);
}

body {
  font-family: var(--default-font-family);
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/136/287/original/hand-painted-watercolor-abstract-background_23-2148995297.jpg?1722348185");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 55px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

p,
ul {
  font-family: var(--heading-font-family);
}

ul li {
  line-height: 2;
}

.my-name {
  font-family: "Merienda", cursive;
  color: rgb(215, 133, 197);
}

.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/613/original/background-tulip.jpg?1718035780");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 110px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.bg-body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/136/287/original/hand-painted-watercolor-abstract-background_23-2148995297.jpg?1722348185");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.text-container {
    padding: 20px;       
    margin: 10px auto;    
    border: 3px solid #d8badc;
    background-color: #eed2f177; 
    max-width: 600px;     
    text-align: center;    
    border-radius: 15px; 
    box-shadow: 0px 5px 10px rgba(221, 117, 186, 0.73); 
}

#work {
  font-size: 50px;
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: 700;
  margin-top: 0px;
}

#touch{
  margin-top: 0;
  color: rgb(203, 92, 196);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 540;
}

#name{
  font-size: 65px
}

.rounded-corners {
  border-radius: 15px;
}

.hr {
  border: none;
  border-top: 4px #cc44c3;
  background-color: #cc44c3;
  height: 3px;
  margin: 20px 0;
}

#certificates {
  font-size: 50px;
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: 700;
}

.photo {
  border-radius: 20px;
  width: 370px;
}

.btn-branding {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  border: 2px solid white;
  color: whitesmoke;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: transform 0.9s ease-in-out;
}

.btn-branding:hover {
  background: #aa6bde;
  color: white;
  border: 2px solid white;
  transform: translateY(-5px);
}

.btn-branding-outline {
  color: var(--branding-color);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--branding-color);
  border-radius: 30px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: transform 0.7s ease;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
  transform: translateY(-5px);
}

.project-description {
  padding: 120px 60px;
}

.name-logo {
  max-height: 40px;
}

nav {
  padding: 15px 0;
}

.custom-shadow {
  box-shadow: var(--box-shadow);
  width: 100%;
  background: white;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 25px;
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 140ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #861ddb;
}

.inquiry{
  border: 1px solid rgb(189, 125, 206)
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: rgba(214, 159, 218, 0.373);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link:hover {
  color: var(--branding-color);
}

a.links{
text-decoration: underline;
text-decoration-thickness: 1px;
font-size: 17px;
font-family: var(--heading-font-family);
color: rgb(228, 118, 15);
}

a.links:hover{
  text-decoration:none;
  color:#4fc61c;
  transition: all 150ms ease-in-out;
}

footer .social-links a {
  margin: 0 20px;
  color: #eb3de6;
  background-color:#efcded;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 140ms ease-in-out;
}

footer .social-links a:hover {
  color: rgba(193, 21, 212, 0.833);
  background: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  #work {
    font-size: 24px;
  }
  #certificates {
    font-size: 24px;
  }
}
